.menu__item {
  @apply pt-2 pb-2 p-10 cursor-pointer mb-4;
}

.menu__item:hover {
  @apply text-blue-600;
}

.playlist__img {
  max-width: 250px;
}

.default-width {
  width: 250px;
}

.playlist__title {
  max-width: 218px;
}

.main__size {
}

.no__img {
  width: 250px;
  height: 250px;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
  height: 8px;
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #63669b; /* Background color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Style the scrollbar track on hover */
::-webkit-scrollbar-track:hover {
  /* background: #6d6d6d; /* 
  border-radius: 5px; */
}

::-webkit-scrollbar-track {
  margin-bottom: 10px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #63669b; /* Change the thumb color on hover */
}

textarea:focus,
input:focus {
  outline: none;
}

.card {
  @apply rounded-md h-full drop-shadow-md;
}

.cardTitle {
  @apply text-white text-lg truncate text-center;
  max-width: 218px;
}
